<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AOSharpSDK" version="1.0.106" targetFramework="net48" />
  <package id="AOSharpSDK.Nav" version="1.0.5" targetFramework="net48" />
  <package id="AOSharpSDK.SharpNav" version="1.0.43" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
</packages>